<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luandkg.guilherme">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Guilherme">
        <activity
            android:name=".TelaDeNavegacao"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Guilherme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FluxoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DlgAtividadeRenomear"
            android:exported="false" />
        <activity
            android:name=".activities.QuadroDeNotasActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AvaliacaoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AtividadesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MomentoDeAvaliacao"
            android:exported="false" />
        <activity
            android:name=".activities.AlunoRelatorioActivity"
            android:exported="false" />
        <activity
            android:name=".guardado.MainActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>